:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --title-hero-text-color: #ffffff;
    --another-text-color: #ffffff;
    --filter-btn-text-color: #212121;
    --akcent-color: #2196F3;
    --hero-bgr-color: #2F303A;
    --comand-bgr-color: #F5F4FA;
    --footer-bgr-color: #2F303A;
    --filter-btn-bgr-color: #F5F4FA;
    --icon-fill: #AFB1B8;
}

body {
    color: var(--primary-text-color);
    font-family: 'Roboto', Tahoma, sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 1px solid tomato; */
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.top-link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.top-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* navigation */

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
    
}

.header .container {
    display: flex;
    align-items: center;
    
}

.logo {
    margin-right: 93px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--akcent-color);
}

.header-studio {
    color: #000000;
}

.nav-list {
    display: flex;
}

.nav-link {
    color: var(--title-text-color);

    cursor: pointer;
}

.nav-list-item {
    position: relative;
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--akcent-color);
}

.current {    
    color: var(--akcent-color);
}

.current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -31px;

    width: 100%;
    height: 4px;

    background-color: var(--akcent-color);
    border-radius: 2px;
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts-link {
    display: flex;
    align-items: center;

    color: var(--primary-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--akcent-color);
}

.header-mail-icon {
    margin-right: 10px;
    
    fill: var(--primary-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover .header-mail-icon,
.header-contacts-link:focus .header-mail-icon {
    fill: var(--akcent-color);
}

/* ===================hero=================== */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin: 0 auto;

    background-color: #C4C4C4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;    
}

.hero-title {
    margin-bottom: 30px;

    color: var(--title-hero-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;

    background-color: var(--akcent-color);
    color: var(--another-text-color);

    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}

/* ===================features=================== */

.features-list {
    display: flex;
}

.features-list-item {
    width: 270px;
}

.features-list-item:not(:last-child) {
    margin-right: 30px;
}

.features-bg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    width: 270px;
    height: 120px;

    background: #F5F4FA;
    border-radius: 4px;
}

.features-title {
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ===================work=================== */

.work {
    padding-bottom: 94px;
}

.work-title {
    margin-bottom: 50px;

    color: var(--title-text-color);
}

.work-list {
    display: flex;
}

.work-img-box {
    position: relative;
    display: flex;
    justify-content: center;
}

.work-list-item:not(:last-child),
.comand-list-item:not(:last-child) {
    margin-right: 30px;
}

.work-bottom-title {
    position: absolute;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    
    background: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* ===================comand=================== */

.comand {
    background-color: var(--comand-bgr-color);
}

.comand-title {
    margin-bottom: 50px;

    color: var(--title-text-color);
}

.comand-list {
    display: flex;
}

.comand-list-item:not(:last-child) {
    margin-right: 30px;
}

.comand-list-item {
    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.comand-list-content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #ffffff;
}

.comand-title-name {
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.comand-profession {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.comand-soc-list {
    display: flex;
    justify-content: center;
}

.comand-soc-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-soc-item + .comand-soc-item {
    margin-left: 10px;
}

.comand-soc-icon {
    fill: var(--icon-fill);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-soc-link:hover,
.comand-soc-link:focus {
    background-color: var(--akcent-color);
}

.comand-soc-link:hover .comand-soc-icon,
.comand-soc-link:focus .comand-soc-icon {
    fill: #ffffff;
}

/* ===================clients=================== */

.clients-title {
    margin-bottom: 50px;

    color: var(--title-text-color);
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-fill);
    border-radius: 4px;

    cursor: pointer;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item + .clients-list-item {
    margin-left: 30px;
}

.clients-icon {
    fill: var(--icon-fill);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--akcent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--akcent-color);
}

/* ===================footer=================== */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;

    background-color: var(--footer-bgr-color);
}

.all-contacts {
    margin-right: 70px;
}

.footer-studio {
    color: #ffffff;
}

.address {
    display: block;
    margin-top: 20px;
    margin-bottom: 9px;

    color: var(--another-text-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

.footer-link {
    display: block;
    margin-bottom: 9px;

    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--akcent-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.join {
    margin-right: 93px;
}

.join-title {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--another-text-color);
}

.join-soc-list {
    display: flex;
    justify-content: center;
}

.join-soc-item + .join-soc-item {
    margin-left: 10px;
}

.join-soc-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);

    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-soc-icon {
    fill: #ffffff;
}

.join-soc-link:hover,
.join-soc-link:focus {
    background-color: var(--akcent-color);
}

.newsletter-invite {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--another-text-color);
}

.newsletter-box {
    display: flex;
}

.newsletter-input {
    width: 358px;
    height: 50px;
    padding: 16px 15px;
    margin-right: 12px;
    
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--another-text-color);
}

.newsletter-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}

.newsletter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

        
    color: var(--another-text-color);
    background: var(--akcent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    cursor: pointer;
}

.btn-send {
    margin-left: 10px;
}

/* ===================modal=================== */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;

    background: rgba(0, 0, 0, 0.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
            
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1) rotate(-360deg);
    transition-property: transform; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {    
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;

    font-size: 12px;

    cursor: pointer;
        
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    fill: var(--akcent-color);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;    
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -100%) scale(0.1) rotate(-270deg);
}

.modal-invite {
    margin-top: 40px;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
}

.modal-input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.modal-input-box + .modal-input-box {
    margin-top: 10px;
}

.modal-label {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: var(--primary-text-color);
}

.modal-input {
    width: 448px;
    height: 40px;
    padding-left: 42px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: var(--akcent-color);

    cursor: pointer;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    border-color:var(--akcent-color);
}

.modal-input-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon{
    fill: var(--akcent-color);
}

.modal-coment-area {
    width: 448px;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: var(--akcent-color);

    cursor: pointer;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-coment-area:hover,
.modal-coment-area:focus {
    border-color: var(--akcent-color);
}

.modal-coment-area::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.policy {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.modal-policy-lable {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    cursor: pointer;
}

.modal-policy-lable::before {
    content: '';
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;

    border: 2px solid #000000;
    border-radius: 2px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy-check:hover + .modal-policy-lable::before,
.modal-policy-check:focus + .modal-policy-lable::before {
    border-color: var(--akcent-color);
}

.modal-policy-check:checked + .modal-policy-lable::before {
    background-image: url(../images/check.svg);
    background-position: center;
    border: none;    
}

.modal-policy-lable a {
    color: var(--akcent-color);
}

.modal-btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
        
    background: var(--akcent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--another-text-color);

    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
    background-color: #188CE8;
}



/* *****************portfolio***************** */

/* ===================filter=================== */

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
    margin-right: 8px;
}

.filter-btn {    
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;

    background-color: var(--filter-btn-bgr-color);
    color: var(--filter-btn-text-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    
    cursor: pointer;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--akcent-color);
    color: var(--another-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12)
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}

.examples-list-item {
    width: calc(100% / 3 - 30px);
    margin-right: 30px;

    cursor: pointer;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list-item:nth-last-of-type(n+4) {
    margin-bottom: 30px;
}

.examples-box {
    position: relative;
    overflow: hidden;
}

.examples-img-text {
    position: absolute;
    bottom: -100%;

    display: flex;
    align-items: center;
    width: 370px;
    height: 294px;
    padding: 63px 24px;
    
    font-size: 18px;
    line-height: 1.56;    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);

    transition-property: translateY(-100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-title {
    margin-bottom: 4px;

    color: var(--title-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples-description {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.card-border {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;

    padding: 20px 24px;    
}

.examples-list-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-list-item:hover .examples-img-text,
.examples-list-item:focus .examples-img-text {
    transform: translateY(-100%);
}
